<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bruce.points">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.params.ParamsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screensaver.ScreensaverActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask" />


        <service android:name=".service.ScreenOffService" />

        <receiver android:name=".widgets.shortcut.ShortcutSmallAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcut_widget_small" />
        </receiver>
        <receiver android:name=".widgets.shortcut.ShortcutBigAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcut_widget_big" />
        </receiver>
    </application>

</manifest>